<div id="top_nav">
	<%= link_to 'Add new project', new_project_path, :id => 'add_project_btn' %>
	<%= link_to 'Log out', destroy_user_session_path, :id => 'log_out_btn', :method => :delete %>
	<h1 id="application_title">Projects V 1.0</h1>
</div>